
@{
    ViewData["Title"] = "Index";
}


<div id="top" class="row">
    <div class="col-md-3">
        <h3>Minhas Contas</h3>
    </div>

    <div class="col-md-6">
        <div class="input-group h2">
            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary pull-right h2" onclick="CriarConta()">Criar Conta</button>
    </div>
</div> <!-- /#top -->
<div id="list" class="row">

    <div class="table-responsive col-md-12">
        <table class="table table-hover" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Saldo</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
                {

                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Nome.ToString()</td>
                        <td>R$ @item.Saldo.ToString()</td>

                        <td class="actions">
                            <a class="btn btn-primary" onclick="Editar(@item.Id.ToString())">Editar</a>
                            <a class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

<div id="bottom" class="row">
    <div class="col-md-12">

        <ul class="pagination">
            <li class="disabled"><a>&lt; Anterior</a></li>
            <li class="disabled"><a>1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
        </ul><!-- /.pagination -->

    </div>
</div> <!-- /#bottom -->

<script>
    function CriarConta() {
        window.location.href = "../Conta/CriarConta";
    }
    function Excluir(id_conta) {
        window.location.href = "../Conta/ExcluirConta/" + id_conta;
    }
</script>